*{
    margin: 0px;
    /* background-image: url(tl.jpg);
    width: auto;
    height: auto; */
    color: white;
    
}

#baner{
    background-color: rgb(37, 37, 37);
    height: 90px;   width: 100%;
    position: absolute;

    z-index: 3;
}
#menu{
    height: 35px;   width: 100%;
    background-color: rgb(37, 37, 37);
    border-top: 1px solid rgb(31, 31, 31);
    position: absolute;
    top: 90px;  left: 0px;
    z-index: 2;
    /* border-radius: 2px; */
}
#logo{
    position: absolute;
    top: 0px;  left: 150px;
    z-index: 3;
    /* height: 10%;    width: 10%; */
}
#content{
    background-color: black;
    height: 100%; width: 100%;
    position: absolute;
    top: 0px; left: 0px;
    z-index: 1;
    color: white;
}
.wskazowka{
    width: 105px; height: 35px;
    background-color: rgb(218, 131, 32);
    border-radius: 5px;
    border: 0px;
    position: absolute;
    top: 27px;  right: 69px;
}
#bruh{
    position: absolute;
    top: 125px; right: 0px;
}
#klawiatura{
    
    position: absolute;
    top: 55%; right: 50px;
    font-size: 30px;

}
#k{
    position: absolute;
    top: 160px; left: 50px;
    font-size: 30px;
}
#haslo{
    position: absolute;
    top: 180px; left: 600px;
    font-size: 50px;
}
input{
    cursor: pointer;
    font-size: 30px;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
    margin: 5px;
    width: 50px; height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    text-transform: uppercase;
    font-family: 'Lobster';
    background-color: rgba(49, 32, 32, 0.664);
}
input:hover{
    border: 1px solid rgb(218, 131, 32);
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}
#losujhaslo{
    position: absolute;
    top: 200px;
    right: 100px;

}
#wisielec{
    
    position: absolute;
    top: 30%;
    left: 200px;
    
}
#wynik{
    position: absolute; right: 50%;
}
#reset{
    width: 200px; height: 100px;
    background-color: rgb(218, 131, 32);
    border-radius: 15px;
    border: 0px;
    font-size: 35px;
    margin-right: 200px;
}
button{
    cursor: pointer;
}
#apropowskazowek{
    float: right;
    font-size: 20px;
    margin:5px;
}
#zasady{
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Lobster';
    top: 150px; right: 50px;
    font-size: 30px;
    z-index: 3;
}